body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: turquoise;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.margin{
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

 form{
  padding: 0 40%;
  text-align: center;
}

.mainAlign{
  margin-top: 15%;
  margin-bottom: 150px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 40%;
  background: white;
}
